body {
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
}

.hero {
  padding: 128px 0;
  display: flex;
}

.page-top {
  background-color: #1F2937;
  padding: 24px 256px;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 24px;
}

.header a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

.logo {
  font-weight: 700;
  font-size: 24px;
}

.logo, .main {
  color: #F9FAF8;
}

a, .secondary {
  color: #E5E7EB;
}

.hero .image {
  color: white;
  padding: 32px;
}