body {
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.page-top {
  background-color: #1F2937;
  padding: 24px 256px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
}

.hero {
  padding: 128px 0;
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
}

.text {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 24px;
}

button {
  padding: 4px 0;
  margin: 0;
  border-radius: 8px;
  background-color: #3882F6;
  border-color: #3882F6;
}

.button a {
  color: rgb(255, 255, 255);
  width: 100%;
  padding: 3px 30px;
  font-size: 18px;
  font-weight: 600;
}

a {
  text-decoration: none;
}

.hero .image {
  color: white;
  padding: 80px 200px;
  border: 5px solid white;
  background-color: #09282a;
  flex: 0 0 auto;
  /* border-radius: 20px; */
}

.logo,
.main {
  color: #F9FAF8;
}

.logo {
  font-weight: 700;
  font-size: 24px;
}

.main {
  font-size: 48px;
  font-weight: 700;
  line-height: 44px;
}

.header a,
.secondary {
  color: #E5E7EB;
  font-size: 18px;
}